# Archivos de dependencias generados (CRUCIAL)
node_modules/

# Archivos de configuración de entorno (CRUCIAL por seguridad)
.env
# Ignora archivos de entorno locales específicos
*.local
*.env.*

# Archivos y carpetas específicos que no quieres versionar
dist/
build/
coverage/
